@import '../../assets/sass/02_variables';

.sign-in-layout {
  min-height: 100vh;
  .side-layout {
    background-color: $orange;
  }
  .form-layout {
    .sign-in-form {
      max-width: 70%;
    }
    .btn-sign-up {
      color: $orange;
      padding: 0;
      text-transform: initial;
      min-height: fit-content;
      height: fit-content;
      line-height: inherit;
      margin-left: 0.3rem;
    }
  }
}