@import '../../assets/sass/01_mixins';
@import '../../assets/sass/02_variables';

.sign-in-layout {
  min-height: 100vh;
  .sign-in-wrapper {
    width: 60%;
    box-shadow: 0px 0px 15px 0px rgba(176,176,176,1);
    border-radius: 5px;
    overflow: hidden;
    @include respond-below(md) {
      width: 80%;
    }
    @include respond-below(sm) {
      flex-wrap: wrap;
      width: 90%;
    }
  }
  .side-layout {
    background: linear-gradient($theme-color-primary, $theme-color-primary-active);
    @include respond-below(sm) {
      height: 250px;
      flex-basis: 100%;
    }
  }
  .form-layout {
    .sign-in-form {
      max-width: 350px;
      width: 100%;
      padding: 2rem;
    }
    .btn-sign-up {
      color: $theme-color-primary;
      padding: 0;
      text-transform: initial;
      min-height: fit-content;
      height: fit-content;
      line-height: inherit;
      margin-left: 0.3rem;
    }
  }
}