@import '../../assets/sass/02_variables';

$content-height: 32px;

.app-nav {
  // background: $bg-dark-grey;
  border-bottom: 1px solid $warm-grey-200;  
  .search-input {
    background-color: rgba($warm-grey-200, 0.4);
    height: $content-height;
    min-height: initial;
  }

  .ic-menu {
    stroke: white;
  }

  .ic-nav-item {
    font-size: 1.2rem;
  }

  .btn {
    height: $content-height;
    min-height: initial;
  }

  .divider {
    width: 1px;
    background-color: $warm-grey-200;
  }
}