$orange: #f75454;
$orange-accent: #f30b0b;

$text-dark: #161619;
$text-muted: #A3A3A3;

$white: #fff;
$bg-grey: #f6f5f3;
$bg-dark-grey: #2d3945;
$bg-warm-grey: #F5F5F4;
$border-grey: #d3d3d3;
$warm-grey-200: #E7E5E4;

$theme-color-primary: $orange;
$theme-color-primary-active: $orange-accent;