@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');

@import '../vendor/bootstrap-grid.min';


@import './_01_mixins';
@import './_02_variables';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: $theme-color-primary;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: $theme-color-primary-active;
}

.btn {
    box-shadow: none !important;
}

.bg-white-100 {
    background-color: $bg-grey!important;
}

.border-white-100 {
    border-color: $bg-grey!important;
}

.crop-text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.c-pointer {
    cursor: pointer;
}

.divider {
    height: 1px;
    margin: 0;
    &::before {
        background-color: $warm-grey-200;
    }
    &::after {
        background-color: $warm-grey-200;
    }
}

.separator {
    width: 100%;
    height: 1px;
    background: $border-grey;
}

.section-title-1 {

}
.section-title-2 {
    font-size: 1.5rem;
    font-weight: 600;
}